/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #17b1ee;
    color: #24aff0;
    text-align: center;
    padding: 20px;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.team-member-card {
    width: 250px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #227fca;
    text-align: center;
}

.team-member-card img {
    max-width: 10%;
    height: auto;
    border-radius: 50%;
}

footer {
    background-color: #eb4141;
    color: #f72c2c;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
